@font-face {
  font-family: 'IBMPlexSansVariable';
  font-style: normal;
  font-weight: 1 999;
  src: url('/fonts/plex/IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSansVariable';
  font-style: italic;
  font-weight: 1 999;
  src: url('/fonts/plex/IBMPlexSansVar-Italic.woff2') format('woff2');
}
 
body {
  font-family: "IBMPlexSansVariable";
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.006em;
  margin: 20px;
}

h1 {
  letter-spacing: -.004em;
  line-height: .95em;
  margin-top: 1em;
  margin-bottom: .5em;
}
h2 {
  letter-spacing: 0;
  line-height: 1em;
  margin-top: 1.875em;
  margin-bottom: 1.25em;
}
h3 {
  letter-spacing: 0;
}
h4 {
  letter-spacing: 0;
}

header {
  margin-bottom: 10px;
}

/* section grid */

.section-grid {
  display: grid;
  gap: 20px;
  max-width: 1000px;
}

@media (min-width: 800px) {
  .section-grid {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

.section-item h4 {
  margin: 0;
}

/* page list */

.page-list li {
  margin: .25em 0;
}

.page-list .date {
  margin-left: .8em;
  color: #909a9c;
}

.page-list .empty {
  font-style: italic;
}

footer {
  margin-top: 20px;
}

/* page */

header .context {
  font-style: italic;
}

.properties {
  background-color: lightgray;
  margin-bottom: 25px;
}

.page-content {
  max-width: 800px;
}

.page-content .footnote {
  background-color: #f8f8f8;
  padding: 20px;
  color: #6c6c6c;
  font-size: .95em;
}

.page-content img {
  max-width: 100%;
}

.page-content p {
  margin: 1.1em 0;
}

.page-content ul li {
  list-style: square;
  margin: 1em 0;
}
