@font-face {
  font-family: 'IBMPlexSansVariable';
  font-style: normal;
  font-weight: 1 999;
  src: url('/fonts/plex/IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSansVariable';
  font-style: italic;
  font-weight: 1 999;
  src: url('/fonts/plex/IBMPlexSansVar-Italic.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}
 
body {
  font-family: "IBMPlexSansVariable";
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.006em;
  margin: 20px;
  --outer-spacing: 20px;
}

h1 {
  letter-spacing: -.004em;
  line-height: .95em;
  margin-top: 1em;
  margin-bottom: .5em;
}
h2 {
  letter-spacing: 0;
  line-height: 1em;
  margin-top: 1.875em;
  margin-bottom: 1.25em;
}
h3 {
  letter-spacing: 0;
}
h4 {
  letter-spacing: 0;
}

header {
  margin-bottom: 10px;
}

/* section grid */

.section-grid {
  display: grid;
  gap: 20px;
  max-width: 1000px;
}

@media (min-width: 800px) {
  .section-grid {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

.section-item h4 {
  margin: 0;
}

/* page list */

.page-list li {
  margin: .25em 0;
}

.page-list .date {
  margin-left: .8em;
  color: #909a9c;
}

.page-list .empty {
  font-style: italic;
}

footer {
  margin-top: 100px;
  color: #a0a0a0;
  font-size: 14px;
}

/* page */

header .context {
  font-style: italic;
}

.properties {
  margin-bottom: 25px;
}

.page-content {
  max-width: 800px;
}

@media (min-width: 801px) {
  .page-content {
    transform: translateX(calc((100vw - var(--outer-spacing) * 2 - 800px) / 2));
  }
}

.page-content .series-content {
  background-color: #f8f8f8;
  padding: 20px;
  color: #6c6c6c;
  font-size: .95em;
  font-style: italic;
  border-radius: 6px;
  margin: 25px 0;
}

.page-content .series-content p {
  margin: 0;
}

.page-content .footnote {
  background-color: #f8f8f8;
  padding: 20px;
  color: #6c6c6c;
  font-size: .95em;
}

.page-content img {
  max-width: 100%;
}

.page-content p,
.code-look-wrapper.root {
  margin: 1.1em 0;
}

.page-content ul li {
  list-style: square;
  margin: 1em 0;
}

/* inspector */

inspect-code {
  display: block;
  position: relative;
}

inspect-code .inspect-button {
  background: #f0f0f0;
  color: #606060;
  border: 0;
  font-size: 15px;
  border-radius: 6px;
  padding: 8px 10px;
}

@media (max-width: 800px) {
  inspect-code .inspect-button {
    width: 100%;

  }
}

@media (min-width: 801px) {
  inspect-code .inspect-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* dialog-container */

.dialog-outer-container {
  zIndex: 10000;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: .15s background-color;
}

.dialog-outer-container.animated {
  background-color: rgba(30, 30, 30, .2);
}


.dialog-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
  max-height: 80vh;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 801px) {
  .dialog-content {
    flex-direction: row;
  }
}

.dialog-container .header {
  display: flex;
  padding: 5px 10px;
}

.dialog-container .title {
  flex: 1;
  font-weight: 700;
}

.dialog-container .title.untitled {
  font-style: italic;
}

.dialog-container .code-block {
  margin-bottom: 10px;
}

.dialog-container summary {
  background-color: #f0f0f0;
  padding: 2px 8px;
  border-radius: 4px;
}

.dialog-container .right {
  width: 45vw;
  padding: 10px;
  overflow: auto;
}

.dialog-container .right-content {
  width: fit-content;
  padding-right: 10px;
}

.dialog-container .left {
  max-width: 40vw;
  overflow: hidden;
  padding: 15px;
}

.dialog-container .left canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
}

.dialog-container .left svg {
  height: auto;
  max-height: 100%;
}

.dialog-content pre {
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 800px) {
  .dialog-container {
    max-height: 99vh;
  }

  .dialog-container .right,
  .dialog-container .left {
    max-width: initial;
    width: 90vw;
  }

  .dialog-container .left {
    height: calc((100vh - 80px) * .15);
  }

  .dialog-container .right {
    height: calc((100vh - 80px) * .85);
  }
}
