@font-face {
  font-family: 'IBMPlexSansVariable';
  font-style: normal;
  font-weight: 1 999;
  src: url('/fonts/plex/IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBMPlexSansVariable';
  font-style: italic;
  font-weight: 1 999;
  src: url('/fonts/plex/IBMPlexSansVar-Italic.woff2') format('woff2');
}

:root {
  --red-0: #8f1b16;
  --red-1: #a4201a;
  --red-2: #ba261f;
  --red-3: #d02c24;
  --red-4: #e6312a;
  --red-5: #f5453f;
  --green-0: #339372;
  --green-1: #38a27e;
  --green-2: #3eb089;
  --green-3: #44bf95;
  --green-4: #4acea1;
  --green-5: #50ddad;
  --yellow-0: #937234;
  --yellow-1: #a27e3a;
  --yellow-2: #b28a41;
  --yellow-3: #c29747;
  --yellow-4: #d2a44e;
  --yellow-5: #e2b154;
  --purple-0: #812cae;
  --purple-1: #9233c5;
  --purple-2: #a43adb;
  --purple-3: #af4de7;
  --purple-4: #b663ea;
  --purple-5: #bd78ed;
  --blue-0: #3a5fb6;
  --blue-1: #426bcc;
  --blue-2: #4d77de;
  --blue-3: #6485e2;
  --blue-4: #7892e6;
  --blue-5: #8ba0ea;
}

* {
  box-sizing: border-box;
}
 
body {
  font-family: "IBMPlexSansVariable";
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.006em;
  margin: 0;
  color: black;
  background-color: white;
  --site-width: 800px;
  --outer-spacing: 20px;

  /* For some bizarre reason, this is needed to fix a bug in
   * iOS Safari where expanding a `detail` element makes all the
   * text a lot larger. This happened in the code look dialog
   * component, but it doesn't work to only apply the fix there,
   * it must be on body.
   * See https://stackoverflow.com/questions/5303263/fix-font-size-issue-on-mobile-safari-iphone-where-text-is-rendered-inconsisten
   *
   * TODO: Look into a better fix for this
   */
  -webkit-text-size-adjust: 100%;
}

a:link {
  color: var(--purple-0);
  text-decoration: none;
}

a:visited {
  color: var(--purple-0);
}

a:hover,
a:active {
  text-decoration: underline;
}

h1 {
  letter-spacing: -.004em;
  line-height: .95em;
  margin-top: 1em;
  margin-bottom: .5em;
}
h2 {
  letter-spacing: 0;
  line-height: 1em;
  margin-top: 1.875em;
  margin-bottom: 1.25em;
}
h3 {
  letter-spacing: 0;
}
h4 {
  letter-spacing: 0;
}

header {
  margin-bottom: 10px;
  padding-top: 20px;
}

header .context {
  font-style: italic;
}

/* featured */

.featured-list {
  display: flex;
  gap: 80px;
}

.featured-list.breakout {
  margin-left: calc((100vw - var(--site-width)) / 2 * -1 + 20px);
  margin-right: calc((100vw - var(--site-width)) / 2 * -1 + 20px);
  justify-content: center;
}

@media (max-width: 840px) {
  .featured-list.breakout {
    margin-left: 0;
    margin-right: 0;
  }
}

.featured-item {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 6px;
  text-decoration: none;
  max-width: 400px;
}

.featured-item img {
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  height: 220px;
  width: 100%;
}

@media (max-width: 600px) {
  .featured-list {
    flex-direction: column;
  }

  .featured-item {
    max-width: initial;
  }
}

a.featured-item {
  text-decoration: none;
}

a.featured-item:hover .featured-title {
  text-decoration: underline;
}

.featured-title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 18px;
  transform: translateY(1px);
  color: black;
  display: flex;
}

.featured-subtitle {
  color: #303030;
  font-style: italic;
  font-size: 16px;
  margin-top: 3px;
}

.featured-item .date {
  margin-top: 7px;
  font-size: 14px;
  color: #606060;
}



/* site */

.site-content {
  max-width: var(--site-width);
  margin: 0 auto;
}

.site-content.collapsed {
  margin: 0;
  margin-left: 20px;
}  

@media (max-width: 840px) {
  .site-content {
    margin: var(--outer-spacing);
    width: calc(100% - var(--outer-spacing) * 2);
    overflow: hidden;
  }  
}

/* home */

.home h1 {
  margin-top: 60px;
}

.home h1 a,
.home h1 a:active,
.home h1 a:visited {
  color: black;
}

.home .description {
  font-size: 15px;
}

.home .description p {
  margin: 10px 0;
  line-height: 25px;
}

.home h3 {
  margin-top: 0;
}

.home #demo {
  line-height: 0;
}

.home .hero {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 801px) {
  .home .hero {
    flex-direction: row;
  }
}

.home .hero {
  margin-top: 30px;
}

.home .featured-list, .home .reading-list {
  margin-top: 100px;
}

/* page list */

.page-list {
  margin: 0;
  padding: 0;
}

.page-list li {
  margin: .25em 0;
}

.page-list .date {
  margin-left: .8em;
  color: #909a9c;
}

.page-list .empty {
  font-style: italic;
}

footer {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #a0a0a0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

/* page */

.page-content h1 {
  margin-top: 90px;
  margin-bottom: 0;
}

.page-content .title h2 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #858585;
  margin-top: 20px;
  margin-bottom: 0;
}

.page-content .properties {
  margin-top: 35px;
  margin-bottom: 45px;
  font-size: 15px;
  line-height: 1.5em;
}

.page-content .series-content {
  background-color: #f8f8f8;
  padding: 20px;
  color: #6c6c6c;
  font-size: .95em;
  font-style: italic;
  border-radius: 6px;
  margin: 25px 0;
}

.page-content .series-content p {
  margin: 0;
}

.page-content .footnote {
  background-color: #f8f8f8;
  padding: 20px;
  color: #6c6c6c;
  font-size: .95em;
}

.page-content img {
  max-width: 100%;
}

.page-content p,
.code-look-wrapper.root {
  margin: 1.1em 0;
}

.page-content ul li {
  list-style: square;
  margin: 1em 0;
}

.page-content canvas {
  max-width: 100%;
}

.page-content figure {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 801px) {
  .page-content figure img {
    max-width: 65%;
  }
}

.page-content figcaption {
  font-size: 15px;
  font-style: italic;
  line-height: 1.5em;
  width: 75%;
  margin: 0 auto;
}

/* inspector */

inspect-code {
  display: block;
  position: relative;
}

inspect-code .inspect-button {
  background: #f0f0f0;
  color: #606060;
  border: 0;
  font-size: 15px;
  border-radius: 6px;
  padding: 8px 10px;
}

@media (max-width: 800px) {
  inspect-code .inspect-button {
    width: 100%;
  }
}

@media (min-width: 801px) {
  inspect-code .inspect-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* dialog-container */

.dialog-outer-container {
  zIndex: 10000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: .15s background-color;

  inset: 0;
}

@media (min-width: 801px) {
  inset: 0;
}

.dialog-outer-container.animated {
  background-color: rgba(30, 30, 30, .2);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
  max-height: 80vh;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 801px) {
  .dialog-content {
    flex-direction: row;
  }
}

.dialog-container .header {
  display: flex;
  padding: 5px 10px;
}

.dialog-container .title {
  flex: 1;
  font-weight: 700;
}

.dialog-container .title.untitled {
  font-style: italic;
}

.dialog-container .code-block {
  margin-bottom: 10px;
}

.dialog-container summary {
  background-color: #f0f0f0;
  padding: 2px 8px;
  border-radius: 4px;
}

.dialog-container .right {
  width: 45vw;
  padding: 10px;
  overflow: auto;
}

.dialog-container .right-content {
  width: fit-content;
  padding-right: 10px;
}

.dialog-container .left {
  max-width: 40vw;
  overflow: hidden;
  padding: 15px;
}

.dialog-container .left canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
}

.dialog-container .left svg {
  height: auto;
  max-height: 100%;
}

.dialog-content pre {
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 800px) {
  .dialog-container {
    max-height: 95dvh;
  }

  .dialog-container .right,
  .dialog-container .left {
    max-width: initial;
    width: 90vw;
  }

  .dialog-container .left {
    height: calc((100vh - 80px) * .15);
  }

  .dialog-container .right {
    height: calc((100vh - 80px) * .85);
  }
}

/* newsletter notification */

.newsletter-notification {
  position: fixed;
  bottom: 120px;
  right: 25px;
  width: 375px;
  transform: translateX(430px);
  transition: transform 1.2s;
  transition-timing-function: linear(
    0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
    1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
    1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
    0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
  );
  font-size: 15px;
  line-height: 1.5em;
  background-color: rgba( 200, 200, 200, .8);
  background-color: #ddd6fe;
  color: #2e1065;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 15px;
  border-radius: 6px;
  user-select: none;
}

.newsletter-notification.animated {
  transform: translateX(0) rotate(-5deg);
}

.newsletter-notification.ticktock {
  transition: transform 7s;
  transition-timing-function: ease-in;
}

.newsletter-notification.manual {
  transition: transform .35s;
}

@media (max-width: 600px) {
  .newsletter-notification {
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
  }

  .newsletter-notification.animated {
    transform: translateX(0);
  }
}

/* color picker */

@keyframes color-picker-colors {
  0% {
    color: var(--red-0);
    transform: scale(.9) rotate(-3deg);
  }
  25% {
    color: var(--green-0);
  }
  50% {
    color: var(--blue-0);
    transform: scale(1.05) rotate(3deg);
  }
  75% {
    color: var(--purple-0);
  }
  100% {
    color: var(--yellow-0);
  }
}

#color-picker {
  position: absolute;
  top: 20px;
  right: 25px;
  zIndex: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: #d5d2e4;
}

#color-picker:hover {
  animation-duration: .75s;
  animation-name: color-picker-colors;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
