.root {
  overflow: hidden;
  /* Base font styles */
  color: var(--tweet-font-color);
  font-family: var(--tweet-font-family);
  font-weight: 400;
  box-sizing: border-box;
  border: var(--tweet-border);
  border-radius: 12px;
  margin: var(--tweet-container-margin);
  background-color: var(--tweet-bg-color);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}
.root:hover {
  background-color: var(--tweet-bg-color-hover);
}
.article {
  position: relative;
  box-sizing: inherit;
  padding: 20px;
}

.connector {
  width: 1px;
  height: 30px;
  background-color: rgb(207, 217, 222);
  margin: 0 auto;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
